<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PINTA ANGULAR TEST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngFor="let tab of tabs; let i = index" class="nav-item">
          <a class="nav-link"
             [ngClass]="{active : tab.active, disabled : tab.disabled}"
             (click)="selectTab(i)">
            {{ tab.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
